In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [57]:
df=pd.read_csv('data/stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [58]:
df['total_score']=df['math_score']+df['reading_score']+df['writing_score']
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
 8   total_score                  1000 non-null   int64
dtypes: int64(4), object(5)
memory usage: 70.4+ KB

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [59]:
# creating feature average score 
df['average_score']=df['total_score']/3
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
 8   total_score                  1000 non-null   int64
 9   average_score                1000 non-null   float64
dtypes: float64(1), int64(4), object(5)
memory usage: 78.3+ KB

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [60]:
# trying to predict the maths marks with all the other features a independent features 
# math_score is he dependent feature we are taking 
x=df.drop(columns=['math_score'],axis=1)

In [61]:
y=df['math_score']
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

<!-- categorecical column values  -->
Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [62]:
# categorical and numeric variables after x and y seperation
categorical_variables= [features for features in x.columns if x[features].dtype=='object']
numerical_variables= [features for features in x.columns if x[features].dtype in(['int64','float'])]
numerical_variables
categorical_variables

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course']

In [63]:
# create column transformer with 3 types of transformers 
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer


# numeric column transformer 
numeric_transformer=StandardScaler() 
# using one hot encoder to convert categorical faetures into numerical features  
one_hot=OneHotEncoder()

preprocessor = ColumnTransformer(

    [
        ("OneHotEncoder",one_hot,categorical_variables),
        ('StandardScaler',numeric_transformer,numerical_variables)

    ]
)

In [64]:
# fit _transform the x - independent variables 
# fitting the model
x=preprocessor.fit_transform(x)

In [65]:
# train test split 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [66]:
# create evaluation metrics after training the model 
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
def eval_model(true,predicted):
    mea=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    # accuracy = accuracy_score(true, predicted)
    return mea,rmse,r2_square
    # accuracy

In [67]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

In [70]:
models={
    "linear regresssion": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-neighboors": KNeighborsRegressor(),
    "Decision_Tree":DecisionTreeRegressor(),
    "RandomForest" : RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "CatBoosting": CatBoostRegressor(verbose=False),
    "AdaBoost": AdaBoostRegressor()

}

model_list=[]
r2_list=[]

for i in range (len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)


    # make preictions
    y_train_pred=model.predict(x_train)
    y_test_pred=model.predict(x_test)

    # evaluate the model 
    train_mea,train_rmse,train_r2_square=eval_model(y_train,y_train_pred)
    test_mea,test_rmse,test_r2_square=eval_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    # model Acuuracy  
   
    accuracy= accuracy_score(y_test,y_test_pred)
    print(accuracy)

    # Model performance for training set is 
    # print("Accuracy of the train model is {}".format(train_accuracy))
    print("Root mean squared error train  {}".format(train_r2_square))
    print("mean absoluate error train  {}".format(train_mea))
    print("R2 score train {}".format(train_rmse))

    #  Model performance for testing data  set is 
    # print("Accuracy of the test model is {}".format(train_accuracy))
    print("Root mean squared error test  {}".format(test_r2_square))
    print("mean absoluate error test {}".format(test_mea))
    print("R2 score test {}".format(test_rmse))
    r2_list.append(test_rmse)

linear regresssion

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [73]:
y_test.shape

(300,)

In [72]:
y_test_pred

array([ 5.50000000e+01,  6.00000000e+01,  6.50000000e+01,  4.40000000e+01,
        5.60000000e+01,  4.80000000e+01,  4.40000000e+01,  5.10000000e+01,
        6.30000000e+01,  8.20000000e+01,  6.90000000e+01,  4.20000000e+01,
        6.80000000e+01,  7.20000000e+01,  7.80000000e+01,  7.50000000e+01,
        9.80000000e+01,  8.80000000e+01,  5.40000000e+01,  5.40000000e+01,
        8.70000000e+01,  6.80000000e+01,  6.90000000e+01,  6.30000000e+01,
        4.70000000e+01,  5.50000000e+01,  5.20000000e+01,  6.40000000e+01,
        4.80000000e+01,  5.90000000e+01,  5.00000000e+01,  7.60000000e+01,
        5.50000000e+01,  5.40000000e+01,  5.40000000e+01,  8.80000000e+01,
        6.10000000e+01,  5.50000000e+01,  7.00000000e+01,  8.20000000e+01,
        8.20000000e+01,  7.30000000e+01,  6.50000000e+01,  6.80000000e+01,
        7.90000000e+01,  8.10000000e+01,  5.10000000e+01,  5.80000000e+01,
        6.50000000e+01,  8.80000000e+01,  8.10000000e+01,  9.70000000e+01,
        7.60000000e+01,  8.10000000e+01,  6.80000000e+01,  3.70000000e+01,
        6.20000000e+01,  7.00000000e+01,  6.10000000e+01,  9.40000000e+01,
        5.10000000e+01,  5.40000000e+01,  4.80000000e+01,  5.30000000e+01,
        4.90000000e+01,  5.40000000e+01,  7.50000000e+01,  4.50000000e+01,
        2.90000000e+01,  1.80000000e+01,  4.20000000e+01,  8.40000000e+01,
        8.00000000e+01,  7.20000000e+01,  5.30000000e+01,  6.70000000e+01,
        7.60000000e+01,  5.80000000e+01,  4.70000000e+01,  8.60000000e+01,
        6.20000000e+01,  8.10000000e+01,  5.50000000e+01,  7.00000000e+01,
        7.50000000e+01,  5.50000000e+01,  7.70000000e+01,  7.40000000e+01,
        5.00000000e+01,  3.60000000e+01,  7.30000000e+01,  7.70000000e+01,
        6.60000000e+01,  8.40000000e+01,  5.10000000e+01,  5.20000000e+01,
        7.30000000e+01,  7.40000000e+01,  7.00000000e+01,  6.20000000e+01,
        6.10000000e+01,  7.80000000e+01,  6.90000000e+01,  6.60000000e+01,
        6.50000000e+01,  4.80000000e+01,  6.90000000e+01,  8.50000000e+01,
        6.30000000e+01,  5.80000000e+01,  7.60000000e+01,  3.20000000e+01,
        9.40000000e+01, -7.10542736e-14,  7.80000000e+01,  8.10000000e+01,
        8.00000000e+01,  8.10000000e+01,  7.90000000e+01,  4.20000000e+01,
        6.20000000e+01,  6.60000000e+01,  4.70000000e+01,  6.90000000e+01,
        7.50000000e+01,  2.90000000e+01,  5.20000000e+01,  6.90000000e+01,
        1.00000000e+02,  6.60000000e+01,  8.70000000e+01,  6.50000000e+01,
        9.00000000e+01,  9.00000000e+01,  5.90000000e+01,  5.30000000e+01,
        6.60000000e+01,  6.50000000e+01,  5.90000000e+01,  5.80000000e+01,
        6.10000000e+01,  7.80000000e+01,  8.50000000e+01,  6.60000000e+01,
        6.20000000e+01,  8.60000000e+01,  6.20000000e+01,  1.00000000e+02,
        3.20000000e+01,  4.00000000e+01,  5.90000000e+01,  8.90000000e+01,
        6.40000000e+01,  7.70000000e+01,  8.20000000e+01,  6.10000000e+01,
        6.20000000e+01,  6.80000000e+01,  4.20000000e+01,  6.80000000e+01,
        6.60000000e+01,  7.40000000e+01,  8.70000000e+01,  5.30000000e+01,
        5.40000000e+01,  5.90000000e+01,  7.50000000e+01,  5.30000000e+01,
        7.00000000e+01,  6.10000000e+01,  6.90000000e+01,  4.90000000e+01,
        4.90000000e+01,  7.30000000e+01,  4.80000000e+01,  6.50000000e+01,
        8.00000000e+01,  7.40000000e+01,  7.80000000e+01,  6.30000000e+01,
        8.30000000e+01,  5.30000000e+01,  5.20000000e+01,  6.90000000e+01,
        4.70000000e+01,  5.90000000e+01,  6.70000000e+01,  8.60000000e+01,
        4.40000000e+01,  7.80000000e+01,  6.60000000e+01,  5.60000000e+01,
        9.20000000e+01,  6.90000000e+01,  5.40000000e+01,  6.40000000e+01,
        4.30000000e+01,  7.90000000e+01,  6.10000000e+01,  8.10000000e+01,
        7.90000000e+01,  6.30000000e+01,  7.90000000e+01,  6.60000000e+01,
        9.10000000e+01,  6.70000000e+01,  5.40000000e+01,  6.90000000e+01,
        5.80000000e+01,  7.40000000e+01,  5.00000000e+01,  9.90000000e+01,
        6.00000000e+01,  6.80000000e+01,  7.10000000e+01,  7.40000000e+01,
        6.10000000e+01,  7.10000000e+01,  5.40000000e+01,  7.90000000e+01,
        4.90000000e+01,  5.00000000e+01,  5.60000000e+01,  6.90000000e+01,
        9.20000000e+01,  4.80000000e+01,  6.60000000e+01,  6.90000000e+01,
        4.40000000e+01,  6.40000000e+01,  6.50000000e+01,  4.70000000e+01,
        7.70000000e+01,  9.00000000e+01,  6.30000000e+01,  7.80000000e+01,
        3.80000000e+01,  6.70000000e+01,  4.60000000e+01,  6.50000000e+01,
        6.50000000e+01,  7.30000000e+01,  6.70000000e+01,  6.90000000e+01,
        9.30000000e+01,  6.70000000e+01,  8.60000000e+01,  8.90000000e+01,
        5.80000000e+01,  6.10000000e+01,  4.00000000e+01,  8.20000000e+01,
        8.80000000e+01,  4.30000000e+01,  6.20000000e+01,  7.40000000e+01,
        5.70000000e+01,  7.50000000e+01,  8.80000000e+01,  7.30000000e+01,
        9.10000000e+01,  7.50000000e+01,  6.20000000e+01,  8.80000000e+01,
        6.20000000e+01,  8.10000000e+01,  6.10000000e+01,  8.60000000e+01,
        7.20000000e+01,  8.70000000e+01,  5.20000000e+01,  6.90000000e+01,
        7.40000000e+01,  3.90000000e+01,  8.50000000e+01,  7.30000000e+01,
        7.60000000e+01,  6.50000000e+01,  7.40000000e+01,  3.50000000e+01,
        5.70000000e+01,  9.00000000e+01,  4.90000000e+01,  6.60000000e+01,
        6.80000000e+01,  5.90000000e+01,  8.50000000e+01,  7.70000000e+01,
        5.00000000e+01,  8.00000000e+00,  6.60000000e+01,  6.50000000e+01,
        9.70000000e+01,  6.30000000e+01,  6.50000000e+01,  7.20000000e+01,
        8.40000000e+01,  3.90000000e+01,  7.70000000e+01,  8.70000000e+01])